.UserPage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content;
}

.userLeftSide {
    display: flex;
}

.regLoginLeft>.userFilterSection>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.regLoginLeft>.userFilterSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 50px;
    gap: 26px;
}

.regLoginLeft>.userFilterSection>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #BC1823;
}

.regLoginLeft>.userFilterSection>form>input {
    width: 248px;
    height: 38px;
    background: #F9F9F9;
    padding: 5px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
}

button {
    cursor: pointer;
}

.regLoginLeft>.userFilterSection>form>button {
    box-sizing: border-box;
    width: 16rem;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
    color: #BC1823;
    border: 1px solid #BC1823;
    border-radius: 8px;
}

.userMidSection {
    width: -webkit-fill-available;
    margin-top: 55px;
    margin-left: 22px;
    margin-right: 22px;
}
.userTopsection {
    display: flex;
    flex-direction: column;
}

.userTopsection_a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.userTopsection_a>.allLinks>ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.userTopsection_a>.allLinks>ul>li {
    list-style: none;
    font-family: 'Roboto';
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #BB1823;
}

.userTopsection_a>.allLinks>ul>li>a {
    text-decoration-line: underline;
    color: #BB1823;
}

.userTopsection_a>.user_Profile_Name {
    display: flex;
    justify-content: center;
    gap: 10px;
    float: right;
    height: min-content;
}

.userTopsection_a>.user_Profile_Name>.profName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
}

.userTopsection_a>.user_Profile_Name>.profName>#fname {
    font-family: 'Roboto';
    font-style: normal;
    width: max-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.userTopsection_a>.user_Profile_Name>.profName>#lname {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5C5C5C;
}

.userTopsection_a>.allLinks>ul>button {
    width: 125px;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #D3616B;
    filter: drop-shadow(0px 2px 4px rgba(155, 69, 77, 0.76));
    border-radius: 8px;
    color: #D3616B;
}

.userTopsection_c {
    display: flex;
    margin-top: 46px;
    gap: 22px;
    align-items: center;
    justify-content: flex-end;
}

.snackbar {
    bottom: 0;
    left: 0;
    right: 0;
    color: #f32b00;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 203px;
    animation: loading2 500ms;
    border-radius: 8px;
    background-color: #f4e7ea;
    padding: 14px 25px;
    transform: translate3d(2px, 16px, 33px);
    filter: drop-shadow(0px 2px 4px rgba(155, 69, 77, 0.76));
}

.snackbar.visible {
    opacity: 1;
}

.snackbar span {
    flex: 1;
    animation: loading 1.5s infinite;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes loading {
    0% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

@keyframes loading2 {
    0% {
        opacity: 0;
    }



    100% {
        opacity: 1;
    }
}

.userTopsection_c>.popup>button {
    width: auto;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #D3616B;
    border-radius: 8px;
    color: #D3616B;
}
.userTopsection_c>button {
    width: 100px;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #D3616B;
    border-radius: 8px;
    color: #D3616B;
}

.input-file {
    display: none;
}

.custom-file-input {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f4e0e4;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.file-name-label {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #777;
}

.userTopsection_c>label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #BC1823;
}
.userTopsection_c>input {
    width: 269px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #BC1823;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.userTopsection_c>select {
    width: 103px;
    height: 35px;
    border: 0.5px solid #BC1823;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    background-color: #ffff;
}

.userBottomsection {
    margin-top: 30px;
}
.advertiseLog{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userBottomsection table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.userBottomsection th,
.userBottomsection td {
    padding: 8px;
    border: 1px solid #ddd;
}

.userBottomsection td {
    word-wrap: break-word;
    max-width: 200px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #CE9699;
    font-family: 'Roboto';
    font-style: normal;
}
.userBottomsection td >input{
    width: -webkit-fill-available;
    height: 80px;
    text-wrap: wrap;
}

.userBottomsection td>button {
    width: -webkit-fill-available;
    height: 40px;
    background: #F4D8DA;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #CE9699;
}

.userBottomsection th {
    padding: 0px 20px;
    height: 36px;
    background: rgba(188, 24, 35, 0.17);
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #CE9699;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
}

.userBottomsection tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#pagination>button {
    width: 100px;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #d3616b82;
    filter:drop-shadow(0px 0px 51px rgba(168, 65, 86, 0.76));
    border-radius: 5px;
    color: #D3616B;
    float: right;
    margin-top: 16px;
}

@media (max-width: 768px) {
    /* .userBottomsection table {
        table-layout: auto;
    }

    .userBottomsection td,
    .userBottomsection th {
        display: block;
        width: 100%;
        text-align: left;
    }

    .userBottomsection tbody tr {
        display: block;
        margin-bottom: 10px;
    }

    .userBottomsection tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 100px;
    } */
}